@charset "utf-8";
/* CSS Document */
#header {
	background-color:#7df6b4;
}
#header .logo {
	float:left; 
	margin:10px 20px;
}
#header .logo img { 
	float:left; 
	margin:0 10px;
}
#header h1 {
	line-height:42px; 
	font-size:24px; 
	float:left;
	margin:0 10px;
	color:#019f49;
	font-family:"楷体";
	font-weight:bold;
}
#header .pbox {
	float:right;
}
#header p {
	line-height:36px; 
	font-size:14px;
	margin:0 10px;
	color:#323232;
	font-family:"楷体";
}
#header .pbox hgroup .hbox {
	float:right;
	background-color:#019f49;
}
#header .pbox hgroup img {
	float:right;
	height:28px;
}
#header .pbox hgroup h4 {
	float:right;
	color:#fff;
	line-height:28px;
	padding:0 20px;
	cursor:pointer;
	font-weight:normal;
}
#header .pbox hgroup hr {
	margin:5px;
	float:right;
	height:18px;
	border-left:1px dashed #7df6b4;
	border-right:none;
}















